.wp-block-quote {
    color:#0000ff;
}

.wp-block-quote.is-style-fancy-quote {
    color:#008cff;
}

body{
    box-sizing: border-box;
    width:100vw;
	font-size: 1.8rem;
    letter-spacing: -0.015em;
    background-color: #8ad4ff;
}

header, footer{
    width:100vw;
    font-weight: bolder;
    line-height:auto;
    background-color: #f0f8ff;
    /* text-align: center; */
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}
header{
    height:160px;
    padding:0rem auto;
}
.top-space{
    margin-top:2rem;
}
footer{
    height:100px;
    padding:1rem auto;
}

footer > span, footer > .site-info{
    margin:2.0rem 0rem;
}
.wp-block-latest-comments__comment-meta {
    padding:2rem 0rem 0rem 0rem;
    margin:0rem 1rem 0rem -1rem;
}
/* .wp-block-latest-comments{
    margin:2rem 2rem 0rem -2rem;
} */
/* Different class then intended but might change
.wp-block-media-text{
    background-color: #a7beff; or
    background-color: #a7e7ff;
} */

.cover-header .entry-header * {
	color: #4375fc;
}

#site-header {
	background: #f0f8ff;
    position: relative;
}

.site-description {
	margin-top: 1rem;
	color: #1100ff;
	font-size: 1.8rem;
	font-weight: 600;
	display: none;
	letter-spacing: -0.0311em;
	transition: all 0.15s linear;
}

a {
	color: #0044ff;
    text-decoration: none;
    font-weight: 900;
    padding: 0;
}

a:hover {
    transform: scale(1.2);
    color:#000000;
    cursor: pointer;
}

#masthead {
    display:flex;
}
.menu-toggle{
    display:none;
}

.menu > ul{
    display:flex;
}
.menu > ul > li{
    margin: 0.5rem 2rem -0.5rem 2rem;
}
.menu > button {
    height:100px;
}

time{
    margin: 0 1rem;
}
aside{
    padding:1rem 1.5rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}

#block-2, #block-3{
    margin:1rem 2rem 0rem 2rem;
}
#block-4 > div > h2{
    margin: 0rem -0rem 0rem 10rem;
}

/* Posts */

.singular .entry-header {
	background-color: #4375fc;
	padding: 4rem 0;
}

.entry-content{
    /* color: #fff; */
	color: #000000;
    background-color: #ffffff;
    padding:1rem 2rem;
}

.entry-content > *:not(.woocommerce) {
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.entry-content > *.alignwide ,
.alignwide {
    max-width:1200px;
}
.entry-content > *.alignfull ,
.alignfull {
    width:100%;
}
.entry-title{
    margin:3rem 0rem 0.5rem 0rem;
}
#primary-menu > ul{
    margin: 0.5rem 0rem;
}

.entry-summary{
    padding: 1rem 1rem;
    margin-bottom: 0rem;
}

.amount{
    color: #8ad4ff;
}

.add_to_cart_button{
    color:#0077ff;
}

.post-meta {
	color: #465e7a;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.5rem;
	font-weight: 600;
	list-style: none;
	margin: -1rem 0rem 0rem 0rem;
}
#wpforms-116{
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    text-align: left;
}
#wpforms-submit-116{
    margin:0rem -0rem 0rem 11rem;
    justify-self: center;
    color:#ffff;
    background-color:#89c0ff;
    /* background-color:#d2d2e2; */
}

.book-review-block__meta-item-value{
    font-size:20px;
}
.book-review-block__description > p{
    font-size:16px;
}


/* COLORS */

.color-accent,
.color-accent-hover:focus,
.color-accent-hover:hover {
	color: #4375fc;
}

.bg-accent,
.bg-accent-hover:focus,
.bg-accent-hover:hover {
	background-color: #55b2ff;
}

.fill-children-current-color,
.fill-children-current-color * {
	fill: currentColor;
}

:root .has-accent-color {
	color: #269ecd;
}

:root .has-accent-background-color {
	background-color: #269ecd;
	color: #fff;
}

:root .has-secondary-color {
	color: #46777a;
}

:root .has-secondary-background-color {
	background-color: #375980;
	color: #fff;
}

.woocommerce ul.products li.product .onsale{
    background-color: #0077ff;;
}

.woocommerce ul.products li.product .price{
    color:#000000;
}

/* Fonts */

b,
strong {
	font-weight: 950;
}

.has-drop-cap:not(:focus)::first-letter,
.entry-content .wp-block-archives,
.entry-content .wp-block-categories,
.entry-content .wp-block-cover-image,
.entry-content .wp-block-latest-comments,
.entry-content .wp-block-latest-posts,
.entry-content .wp-block-pullquote,
.entry-content .wp-block-quote.is-large,
.entry-content .wp-block-quote.is-style-large {
	font-family: "Cambria", "Garamond", "Helvetica Neue", Helvetica, sans-serif;
}

@supports ( font-variation-settings: normal ) {

	.has-drop-cap:not(:focus)::first-letter,
	.entry-content .wp-block-archives,
	.entry-content .wp-block-categories,
	.entry-content .wp-block-latest-posts,
	.entry-content .wp-block-latest-comments,
	.entry-content .wp-block-cover-image p,
	.entry-content .wp-block-pullquote {
		font-family: "Inter var", "Arial", "Cambria", "Garamond", "Helvetica Neue";
	}
}

.widget-content cite,
.widget-content figcaption,
.widget-content .wp-caption-text {
	font-family: "Cambria", "Garamond", "Helvetica Neue", Helvetica, sans-serif;
}

@supports ( font-variation-settings: normal ) {

	.widget-content cite,
	.widget-content figcaption,
	.widget-content .wp-caption-text {
		font-family: "Inter var", "Arial", "Cambria", "Garamond", "Helvetica Neue";
	}
}
/*  */
@media print, screen and (max-width: 1000px) {
    .entry-title{
        margin:0.5rem 0rem -0.5rem 0rem;
        text-align: center;
    }
    .entry-meta{
        text-align: center;
        padding:0rem 0.2rem;
        font-size: 22px;
    }
    #primary-menu{
        max-width:84vw;
        padding:0;
        justify-content: center;
        margin-bottom:10rem;
    }
    #primary-menu > ul{
        margin:-1rem auto 1rem auto;
        padding:0;
        flex-wrap: wrap;
        font-size:22px;
        width:90vw;
    }
    #primary-menu > ul > li{
        margin:0rem 1rem;
        float:left;
    }
    footer{
        font-size:24px;
        text-align:center;
    }
}

/* Mobile Views */

@media print, screen and (max-width: 600px) {
    .none{
        display:none;
    }
    .site-title{
        text-align: center;
        width:100vw;
        font-size:44px;
        font-weight:500;
        margin:0.75rem auto 0.1rem auto;
    }
    .site-header, .site-main{
        height:160px;
    }
    .entry-title{
        margin:0;
        text-align: center;
    }
    .entry-meta{
        text-align: center;
        padding:0rem 0.5rem;
        font-size: 20px;
    }
    #primary-menu{
        max-width:50vw;
        padding:0;
        justify-content: center;
        margin-bottom:10rem;
    }
    #primary-menu > ul{
        margin:0.2rem 0rem -0.5rem -5rem;
        padding:0;
        flex-wrap: wrap;
        font-size:20px;
        width:90vw;
    }
    #primary-menu > ul > li{
        margin:0rem 1rem;
        float:left;
    }
    footer{
        font-size:20px;
        text-align:center;
    }
    .wp-block-search{
        width:80vw;
    }
    #secondary{
        text-align:center;
        /* Below isn't working */
        /* bottom:0; */
    }
    .home > #page > #secondary{
        margin:63rem 0rem -63rem 0rem;
    }
    .home > #page > #colophon{
        margin:66rem 0rem -66rem 0rem;
        /* Below isn't working */
        /* bottom:0; */
    }
    .page-id-2 > #page > #secondary{
        margin:127rem 0rem -127rem 0rem;
    }
    .page-id-2 > #page > #colophon{
        margin:130rem 0rem -130rem 0rem;
    }
    .page-id-25 > #page > #secondary{
        /* Store is not viewing right on mobile */
        /* margin:87rem 10rem -87rem -10rem; */
        margin:97rem 0rem -97rem -0rem;
        /* padding-top:18rem; */
        width:85vw;
    }
    .page-id-25 > #page > #colophon{
        margin:100rem 0rem -100rem 0rem;
    }
    .page-id-120 > #page > #secondary{
        margin:262rem 0rem -262rem 0rem;
    }
    .page-id-120 > #page > #colophon{
        margin:265rem 0rem -265rem 0rem;
    }
    #block-4 > div > h2{
        margin:0;
    }

}

.hideAll {
    display: none;
}
