/* .single-product .product {
    display:flex;
}

.single-product .product > * {
    flex-basis:100%;
}

.single-product .woocommerce-product-gallery,
.single-product .entry-summary {
    max-width:500px;
} */
/* Tried the below but didn't work, check site later to see if it recieved the changes */
.woocommerce > .products > .product > .price{
    color:#000000;
}

.woocommerce > .onsale{
    background-color: #0077ff;;
}
.woocommerce span.onsale{
    background-color: #0077ff;;
}
.nav-links{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .nav-links > div{
    width:50rem;
} */
