/* .single-product .product {
    display:flex;
}

.single-product .product > * {
    flex-basis:100%;
}

.single-product .woocommerce-product-gallery,
.single-product .entry-summary {
    max-width:500px;
} */

/* Tried this one but it didn't work */
/* .woocommerce span.onsale{
    background-color: #b0e2ff;
} */